.footer-container {
    display: flex;
    gap: 8px;
    flex-flow: column nowrap;
    margin: 0 8px;
    /* border: 1px solid; */
    border-radius: 10px;
    position: sticky;
    bottom: 0;
    margin: 8px 16px;
    backdrop-filter: grayscale(0.4);   
}


.index {
    text-align: center;
    display: block;
}

.card-item {
    border-radius: 10px;
    height: 100px;
    cursor: pointer;
}

.footer-cards {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    width: 100%;
    overflow: auto;
}

.footer-btn {
    display: flex;
    justify-content: start;
    flex-flow: row nowrap;
    gap: 8px;
}